@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Jheel Nagar<br />
    Jharkhand,India 825301<br />
    <abbr title="Phone">P:</abbr>
    9041917232
</address>

<address>
    <strong>Human Resource Development Officer</strong><h3>Ankur Raj Prasad</h3>
    <strong>Support:</strong> <a href="ankur5984@gmail.com">ankur5984@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="prasad.ankurraj@gmail.com">prasad.ankurraj@gmail.com</a>
</address>
